body {
  color: white;
  min-height: 100vh;
  background-color: #000;
  margin: 0;
  font-family: Montserrat-Medium, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a:focus {
  border-bottom: thin solid #57a8e9;
}

button[type='submit'] {
  background-color: #4e6180;
  padding: 0 40px;
  border: none;
}

button[type='submit']:focus {
  border-color: #57a8e9;
}
