env:
  commonjs: true
  es6: true
  node: true
  mocha: true
extends:
  - airbnb-base
  - plugin:prettier/recommended
  - plugin:node/recommended
  - plugin:mocha/recommended
  - plugin:sonarjs/recommended
  - plugin:unicorn/recommended
  - plugin:promise/recommended
  - plugin:security/recommended
plugins:
  - mocha
  - sonarjs
  - security
globals:
  Atomics: readonly
  SharedArrayBuffer: readonly
parserOptions:
  ecmaVersion: 2020
rules:
  max-lines:
    - 2
    - 250
  complexity: 2
  no-await-in-loop: 0
  no-process-exit: 0
  node/exports-style:
    - 2
    - module.exports
  unicorn/filename-case:
    - 2
    - {case: "camelCase"}
  promise/always-return: 0
  unicorn/no-null: 0
  unicorn/no-process-exit: 0
  unicorn/no-array-for-each: 0
  unicorn/number-literal-case: 0
  no-restricted-syntax: ["error", "LabeledStatement", "WithStatement"]
overrides:
  - files: ["src/setupTests.js", "src/testHelper/*.js", "*.test.js"]
    rules:
      mocha/no-mocha-arrows: 0
      mocha/no-hooks-for-single-case: 0
      node/no-unpublished-require: 0
      security/detect-object-injection: 0
      import/no-extraneous-dependencies: 0
      unicorn/no-useless-undefined: 0
      sonarjs/no-duplicate-string: 0
  - files: ["*.test.js", "src/database/seeds/*.js"]
    rules:
      max-lines: 0
      unicorn/filename-case: 0
  - files: ["src/database/migrations/*.js", "config/*.js"]
    rules:
      unicorn/filename-case: 0
      no-console: 0
      sonarjs/no-duplicate-string: 0
  - files: ["src/routes/**/*.js"]
    rules:
      unicorn/no-reduce: 0
