paths:
  /tests/redeem:
    post:
      summary: redeem a test
      tags: [Tests]
      responses:
        '204':
          description: Successfully redeemed
        '409':
          description: Already redeemed
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                hash:
                  type: string
                tag:
                  type: string