.ant-form-item {
  display: block;
}

.ant-form label::before {
  display: none !important;
}

.ant-input-password input,
.ant-input-password input:focus {
  background-color: transparent !important;
}

.ant-input:focus {
  background-color: transparent !important;
}

.ant-input {
  background-color: transparent !important;
}

#noBorder:focus {
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
}

.ant-picker-range {
  background-color: transparent !important;
}

.ant-input-disabled {
  background-color: #f2f2f2 !important;
  color: black !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0 50px #b8cad3 inset !important;
}

.ant-checkbox .ant-checkbox-inner {
  border: 1px solid #696969;
  background-color: transparent;
}

.ant-menu > .ant-menu-item {
  border: none;
  color: white;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-menu > .ant-menu-item:hover {
  border: none;
  color: white;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-menu > .ant-menu-item-selected {
  border: none;
  color: black;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-menu > .ant-menu-item-selected:hover {
  border: none;
  color: black;
  padding: 8px 16px;
  line-height: 24px;
}

.ant-modal-header {
  border: none;
}

.ant-modal-body {
  padding-bottom: 0;
}

.ant-modal-content {
  padding: 32px;
}

.ant-modal-title {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.5715;
}

.ant-steps-item-process
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #262626;
}

.ant-steps-item-finish
  > .ant-steps-item-container
  > .ant-steps-item-tail::after {
  background-color: #f0f0f0;
}

.ant-steps-item-finish
  .ant-steps-item-icon
  > .ant-steps-icon
  .ant-steps-icon-dot {
  background-color: #262626;
}

@media (max-width: 768px) {
  .ant-form:last-child .ant-form-item .ant-form-item-label > label {
    margin-bottom: 12px;
  }
  .ant-picker-datetime-panel {
    display: flex;
    flex-direction: column;
  }
}

.blueModal .ant-modal-content {
  background-color: #4e6180;
  color: white !important;
}

.blueModal .ant-modal-header {
  background-color: #4e6180;
}

.blueModal .ant-modal-title {
  color: white;
}

.blueModal .ant-modal-close {
  color: white;
}

.blueModal .ant-modal-content .ant-form-item-label > label {
  color: white;
}

#tan.ant-input {
  color: white;
}

.blueModal input {
  color: white;
}

.blueModal .ant-picker-separator {
  color: white;
}
.blueModal .ant-picker-suffix {
  color: white;
}

/* Popconfirm */

.ant-popover-inner {
  max-width: 400px;
  border-radius: 4px;
}

.ant-popover-inner-content {
  padding: 16px;
}

.ant-popover-message-title {
  color: rgba(0, 0, 0, 0.87);
  font-size: 14px;
  font-family: Montserrat-Medium, sans-serif;
  font-weight: 500;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0;
}

.ant-popover-buttons {
  margin-top: 16px;
}

.ant-popover-buttons > .ant-btn {
  padding: 0 16px;
  border: 1px solid rgb(80, 102, 124);
  border-radius: 12px;
  color: black;
}

.ant-popover-buttons > .ant-btn-primary {
  background: rgb(195, 206, 217);
  border-radius: 12px;
  border: none;
  margin-left: 16px;
}

.ant-popover-message > .anticon {
  display: none;
}
